@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer utilities {
  .delay-1000 {
    animation-delay: 1000ms;
  }
  
  .delay-500 {
    animation-delay: 500ms;
  }
}
